.logo {
    height: 50px;
    width: 50px;
}
.nav-menu{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-menu li {
    margin: 0px 20px;
}

.nav-menu li a{
    text-decoration: none;
    color:#313339;
    font-weight: 600;
    font-size: larger;
}