
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,700;1,300;1,400&family=Ubuntu:ital,wght@0,400;0,700;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
html,
body{
    line-height: 1.4;
    font-weight: 300;
}

.luffy{
    background-image: url(../assets/jamesbondWP.jpg);
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}  
.text_container{
    position: absolute;
    right: 0;
    color: whitesmoke;
    max-width: 900px ;
    margin: auto 0;
    padding: 64px;
    margin-right: 5%;
    font-size: 40px;

}
span.name_jb  {
    font-weight: 200; 
    font-size: 30px;
}
.work_box{
    background-color: rgb(0, 0, 54);
    padding: 20px;

}
.work_box h2{
    font-size: 64px;
    text-align: center;
    color: rgb(252, 231, 231);
}
.work_cards{
    
    display: grid;
    gap: 20px;
    background-color: rgb(251, 122, 122);
    grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
}
.grid_item{
    margin: 20px;
    display: flex;
    
    justify-content: center;
    align-items: center;
}
.image_container{
    text-align: center;
    background-color: #fff;
}
.card {
    background-color: #fff;
    max-width: 300px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 5px 5px #222;
    transition: 0.3 ease-in-out;
}
.card h3{
    text-align: center;
}
.card:hover {
    transform: scale(1.04);
    transition: 0.3 ease-in-out;
}